.button{
  border: 1px solid black;
  margin: 5px ;
  padding: 10px;
}

.framing{
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
  width: 400px;
}

.error{
  color: red;
  font-weight: bold;
}

.img{
  width: 100px;
  height: 150px;
}

.subBox{
  border: 1px solid black;
  max-width: 260px;
}

.movieWrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}